<header>
    <h1>Weather Now!</h1>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About this project</a>
        </li>
    </ul>
</header>