<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="my-info">
            <h1>Weather App</h1>
            <small>The purpose of this web site was totally to get some knowledge!</small>
            <br><br>
            <ul>
                <h3>API's Used</h3>
                <li>darksky.net (forecast)</li>
                <li>mapbox.com (to get latitude and longitude by location)</li>
                <li>geocode.xyz (to get the location by latitude and longitude)</li>
            </ul>

            <br><br><br>
            <h3>Created by Julio Cesar</h3>
            <a href="https://github.com/juliop3p" target="blank">My Github</a>

        </div>
    </div>
    {{>footer}}
</body>
</html>